version: '3.1'
services:
  # https://hub.docker.com/_/mysql
  # Use root/root as user/password credentials
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 13306:3306
    # volumes:
    #    - dbdata:/var/lib/mysql/data
  # volumes:
  #   dbdata:
  #   # es-data:

  # es:
  #   image: mysql:5.7
  #   restart: always
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root
  #   volumes:
  #      - db-data:/var/lib/mysql/data

  # https://hub.docker.com/r/arey/mysql-client
  # $ docker run -v <path to sql>:/sql --link <mysql server container name>:mysql -it arey/mysql-client -h mysql -p <password> -D <database name> -e "source /sql/<your sql file>"
  mycli:
    image: arey/mysql-client
    command: mysql -h db -proot -uroot -D mysql -e "show databases"
    depends_on: 
    - db

  # https://hub.docker.com/_/adminer
  adminer:
    image: adminer:4.7
    restart: always
    ports:
      - 8080:8080
    depends_on: 
    - db